<p>
	A new mission was posted for your 
</p>
<blockquote>
	<em><%= @mission.title %></em>
	<em><%= @mission.body %></em>
	<em><%= @mission.place %></em>
	<em><%= @mission.appointment %></em>
</blockquote>

<p>
To reply to this mission, please visit the item page at :

</p>
