<p>Coucou <%= @resource.email %>!</p>

<p>Apparemment vous avez oublié votre mot de passe. Cliquez-ici pour le modifier.</p>

<p><%= link_to 'Définir nouveau mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ce n'est pas vous, merci d'ignorer ce mail.</p>

<p>Merci.</p>

<p>BOOKaGRANDMA => le site qui connecte les bénévoles souhaitant donner le meilleur d'eux même aux établissements de santé dans le besoin.</p>

<p><a href="https://bookagrandma.herokuapp.com"> BOOKaGRANDMA </a>
</p>



