<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Book a Grandma</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="home#">Search a Mission</a></li>
	      <li><a href="#">Page 2</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    </ul>
	  </div>
</nav>
	<ul>
	 <% if benevole_signed_in? %>
	 <li>
	   <%= link_to "Sign out", destroy_benevole_session_path, method: :delete %>
	 </li>

	   <%= link_to "Edit Account", edit_benevole_registration_path %>
	 </li>

	 <% else %>

	 <li>
	   <%= link_to "sign in", new_benevole_session_path %>
	 </li>
	 <li>
	   <%= link_to "sign up", new_benevole_registration_path %>
	 </li>

	 <% end %>

	</ul>

	<p></p>

	    <h1>La beauté</h1>
	    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNWVkZjBjODItNjY4NC00ZDk1LWFiNGMtNzY0N2Y1MGI4MzM4IiwidCI6ImVhODQ3YjMxLWRjNzMtNGU2NC1iOGU5LTU0Y2IyMzc2ODhmMyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
>>>>>>> 1d81acc70b1f93c2732c586cb2d49693f8116d82
</body>
</html>
