<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>


  <%= render partial: "layouts/navbar" %>


  <div class="intro">
    <p>Bienvenue sur le site qui connecte les bénévoles souhaitant donner le meilleur d'eux même aux établissements de santé dans le besoin.</p>
  </div>

  <div class="etablissements-map">
    <h1>Les établissements</h1>
    <iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiNWVkZjBjODItNjY4NC00ZDk1LWFiNGMtNzY0N2Y1MGI4MzM4IiwidCI6ImVhODQ3YjMxLWRjNzMtNGU2NC1iOGU5LTU0Y2IyMzc2ODhmMyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
  </div>

  </body>
</html>
