/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


// COLORS
$blue: #5ABBA7;
$black: #272624;
$white: #E9ECE6;
$red: #fa625f;

// FONTS
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900|Open+Sans:300,400,400i,700');


// TEMPORAIRE : À CHANGER
.notice, .alert {
  display: none;
}


// GÉNÉRAL
.nav-links {
  font-size: 1.3em;
  font-family: 'Nunito', 'Helvetica', sans-serif;
  margin-top: 30px;
  border: 2px solid $black;
  padding: 3px 10px;
  border-radius: 2px;
  display: inline-block;
}
.nav-links:hover {
  color: $black;
}


// Fonts awsome icons size
.fa:before {
  font-size: 1.3em;
}

.cancel-links {
  font-size: 1.3em;
  font-family: 'Nunito', 'Helvetica', sans-serif;
  border: 2px solid $red;
  color: $red;
  padding: 3px 10px;
  border-radius: 2px;
  display: inline-block;
  margin-top: 10px;
  transition: all ease-out .2s;
}
.cancel-links:hover {
  color: $white;
  background-color: $red;
  text-decoration: none;
}

h1 {
  font-family: 'Nunito', 'Helvetica', sans-serif;
  font-size: 2.6em;
  text-align: center;
  font-weight: 900;
}

h2 {
  font-family: 'Nunito', 'Helveitca', sans-serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 5px;
}

.decor-line {
  width: 50px;
  height: 5px;
  border-radius: 100px;
  background-color: $blue;
  margin-bottom: 40px
}

h3 {
  font-family: 'Nunito', 'Helveitca', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  span {
    color: $blue;
  }
}

a {
  text-decoration: none;
  font-family: 'Open Sans', 'Helveitca', sans-serif;
  font-size: .85em;
  color: $black;
}

// NAVABR STYLE

.container-fluid {
  height: 50px;
  padding: 0 30px
}

.button-right {
  margin-left: 450px;
  color: $white;
  font-family: 'Nunito', 'Helveitca', sans-serif;
  color: $white;
  font-size: .8em;
  line-height: 60px;
}

.navbar, .navbar-inverse {
  position: fixed;
  width: 100%;
  background-color: $black;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
  .navbar-brand {
    padding: 0;
    margin-right: 50px;
    font-family: 'Nunito', 'Helveitca', sans-serif;
    font-weight: 900;
    font-size: 2em;
    color: $white;
    line-height: 60px;
  }
  .nav, .navbar-nav {
    li a {
      padding: 0 10px;
      font-family: 'Nunito', 'Helveitca', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: $white;
      font-size: 1.2em;
      line-height: 60px;
      transition: all ease-in .2s;
    }
    li a:hover {
      opacity: .5;
    }
  }
}
nav {
  -webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.3);
}

// HOMEPAGE
.intro {
  padding: 300px 50px 200px;
  margin-bottom: 50px;
  background: url("pattern.svg");
  background-position: center;
  background-size: cover;
  p {
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: $white;
    text-align: center;
  }
}

.etablissements-map {
  text-align: center;
}


// EDIT PROFIL
.avatar {
  width: 75px;
  height: 75px;
  background-color: blue;
  opacity: .2;
}

// EDIT INFO
.page-container {
  padding: 170px 100px 30px;
}

.form-line {
  float: left;
}

.form-inputs {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  input {
    width: 90%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid $black;
    font-size: .9em;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    height: auto;
    margin-bottom: 20px;
  }
  label {
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-weight: 700;
    letter-spacing: .03em;
    font-size: 1.5em;
    margin-left: 2px;
    color: $blue;
  }
  .help-block {
    margin: 0;
    margin-top: -15px;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 400;
    font-style: italic;
  }
}

.btn-default {
  font-family: 'Nunito', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 1.35em;
  border: 1px solid $blue;
  color: $blue;
  padding: 10px 22px 8px 22px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  transition: all ease-out .2s;
  margin-bottom: 30px;
}

.btn-default:hover {
  background-color: $blue;
  color: $white;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
}
