
<h1>Editing Mission</h1>

<%= form_for @mission, url: mission_path(@mission), method: :patch  do |form| %>
<%= render partial: 'form', locals: {f: form, mission: @mission} %>
<% end %>

<%= link_to 'Show', @mission %> |
<%= link_to 'Back', @mission.etablissement %>