<h1>Nouvelle proposition</h1>

<%= form_for @mission, url: etablissement_missions_path(@mission.etablissement)  do |form| %>
<%= render partial: 'form', locals: {f: form, mission: @mission} %>
<% end %>

<%= link_to 'Back', @mission.etablissement %>
