<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %> 
    <p>Merci.</p>

    <p>BOOKaGRANDMA => le site qui connecte les bénévoles souhaitant donner le meilleur d'eux même aux établissements de santé dans le besoin.</p>

    <p><a href="https://bookagrandma.herokuapp.com"> BOOKaGRANDMA </a>
    </p>
  </body>
</html>
